body{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-family: 'Hanken Grotesk', sans-serif;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.container-elements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;

    margin-top:9rem;
    
    gap: 30px;
}
.result{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;;

    padding-top: 1.5rem;

    color:white;
    background: linear-gradient(180deg, #4E21CA 48%, #1125D4 100%);
}
.progress{
    width: 160px;

    background: linear-gradient(180deg, hsla(241, 72%, 46%, 1) 44%, hsla(256, 72%, 46%, 1) 100%);

    padding:2rem 5rem 2rem 5rem ;
    border-radius:50%;
}
.progress h1{
    font-size: 5rem;
}
.result p{
    font-size:18px;
    padding-bottom: 0px;
}

.elements {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.elements-summary div{
     display: flex;
     justify-content: space-between;
     width:40%;
     padding:1rem;
     border-radius:100px;
     margin-bottom: 1rem;
}


/* 
@media (min-width: 375px){

} */