:root{
    --branco: #fff;
    --roxo: #4E21CA;
    --azul: #1125D4;
}
*{
    box-sizing: border-box;

}
body{
    padding:0px;
    margin:0px;
    font-family: 'Hanken Grotesk', sans-serif;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.container-elements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;

    margin-top:9rem;
    
    gap: 30px;
}
.result{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;;

    padding-top: 1.5rem; 

    color:var(--branco);
    background: linear-gradient(180deg, var(--roxo) 48%, var(--azul) 100%);
}
.progress{
    background: linear-gradient(180deg, var(--azul) 44%, var(--roxo) 100%);

    padding:2rem 5rem 2rem 5rem ;
    border-radius:50%;
}
.title{
    text-align: center;
    font-size: 5rem;
}
.result p{
    font-size:18px;
}

.elements{
    display: flex;
    align-items: center;
    text-align: center;

}
.elements-summary li{
     list-style-type: none;
     padding: 1rem;

     margin-bottom: 1rem;
     background: var(--roxo);
     border-radius: 15px;

}
/* 
.elements-summary span:first-child{
    align-items: center;
}
 */

/* 
@media (min-width: 375px){

} */