:root{
    --branco: #fff;
    --bluepele: #EBF1FF;
    --lavander: #C8C7FF;
    --button: #303B5A;
    --roxo: #4E21CA;
    --azul: #1125D4;
}
body{
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
*{
    padding:0px;
    margin:0px;
 }
#container{
    display: flex;
    justify-content: center;
    margin: 10% auto;
    width: 35%;
 
}
.container__elements{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    color:var(--branco);
    border-radius:30px;
    padding: 32px;
    width: 100%;
    background: linear-gradient(180deg, var(--roxo) 48%, var(--azul) 100%);
}
.progress{
    background: linear-gradient(180deg, var(--azul) 44%, var(--roxo) 100%);
    padding:2em 3em 2em 3em ;
    text-align: center;
    border-radius: 100%;
}
.title{
    text-align: center;
    font-size: 5rem;
}
.summary{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    border-radius: 0 30px 30px 0; 
    background: var(--branco);
    box-shadow:  15px 15px 15px 10px rgba(0, 0, 0, 0.1);

}
.summary h1{
    padding-bottom: 1em;
}
.lista{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.items__lista{
    display:flex;
    justify-content:space-between;
    padding: 16px;
    border-radius: 10px;
    width:230px;

}
.items{
    display: flex;
    align-items: center;
    gap:10px;
}
.progresso{
    color: #6c757d;
}
.progresso__concluido{
    color: #000;
}

button{
    color: var(--branco);
    background: var(--button);
    font-size: 16px;
    padding: 16px;
    margin-top: 16px;
    border: none;
    border-radius: 30px;

}
button:hover{
    background: linear-gradient(180deg, var(--roxo) 48%, var(--azul) 100%);
}
@media (min-width: 375px) and (max-width:755px){
    #container{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0px;

    }
    .container__elements{
        border-radius: 0;
        padding: 20px 0 20px 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .container__elements p{
        width:50%;
    }
    .summary h1{
        padding:2rem 0rem 0rem 2rem;
        margin:0px;
    }
    .items__lista, button{
        width: 80%;
    }

}
